@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 640px) {
  body{
    width: 100vw;
  }
  .banner{
    position: relative;
    display: none;
  }
  .service{
    /* display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr; */

    font-size: 0.75rem;
    line-height: 0.70rem;
    display: block;
   
   
  }
  
    .banner-img{
      width: 100%;
      height: 100%;
      position: relative;
      display: block;
    }
    .maintance h1{
      width: 90%;
      display: flex;
      justify-content: center;
      padding: 5px;
      margin: 5px;
      font-size: 25px;
    line-height: 2rem;
    }
    .maintance p{
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 5px;
      margin: 5px;
      font-size: 10px;
    }
    .maintance img{
      width: 100%;
      height: 100%;
      position: relative;
      display:flex;
      justify-content: start;
      align-items:start;
    }
    .maintance{
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .maintance_2 h1{
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 2px;
      margin: 2px;
      font-size: 8px;
    
}
.headdmaintain {
   
  
    margin-right: 2px;
    margin-left: 2px;
    }

.maintance_2 p{
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 2px;
      margin: 2px;
      font-size: 10px;
    }
    .maintance_2 img{
      width: 100%;
      height: 75%;
      position: relative;
      display:flex;
      justify-content: center;
      align-items: center;
      padding: 0%;
      margin: 0;
      
    }
    .maintance_2{
      width:100%;
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: start;
    
      padding: 10px;
    }

    .maitn-img {
      align-items:start;
    }




    .loader {
  border: 6px solid #eaeaea;
  border-top: 6px solid #4f46e5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
  


}